

<hr/>

{{if $.Site.Data.config.enableFooter}}
<div class="page-end" id="footer">
    <!-- <div class="backlinks-container">
        {{partial "backlinks.html" .}}
    </div> -->
    <div>
        {{ $pages := where site.RegularPages "Section" .Section }}
        {{ with $pages.ByTitle.Next . }}
            <a style="font-size: 1.5em" class="previous" href="{{ .Permalink }}">◁ {{.Title}}</a>
        {{ end }}
        <br>
        {{ with $pages.ByTitle.Prev . }}
            <a style="font-size: 1.5em" class="next" href="{{ .Permalink }}"> {{.Title}} ▷</a>
        {{ end }}
    </div>
    <div>
        {{partial "graph.html" .}}
    </div>
</div>
{{end}}

{{partial "contact.html" .}}
